// Variables
@import 'variables';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
  background: white;
}

.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}

.nav li {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown-content {
  list-style: none;
  padding-left: 0; /* moves the dropdown to matche left alignment of menu item */
  min-width: 100%; /* makes the dropdown container the same width as the menu item */
}
.dropdown-content li {
  width: 100%; /* makes the dropdown menu item the same width as the container */
}
.dropdown-content a {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;  /* makes the anchor tag the same width as the dropdown menu item */
}
.dropdown-content a:hover {
  background-color: white; /* add a hover color the the anchor tag instead of the li */
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  color: black !important;
  background-color: white !important;
}
.nav-link { /* top menu */
	font-size: 12px; 
	min-width: 55px; 
	color: darkred !important;
}

table {
  table-layout: fixed;
  white-space: normal!important;
}

td {
  word-wrap: break-word;
}


/* Modal Content */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: orange; /* not used */
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c; /* green */
  color: gold;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c; /* green */
  color: white;
}

.modal-header .close {
  margin: 0;
  position: absolute;
  top: -10px;
  right: 0px;
  width: 23px;
  height: 23px;
  /* border-radius: 23px;
  background-color: black; */
  color: white;
  font-size: 24px;
  opacity: 1;
  z-index: 10;
}
/* end of Modal Content */

 .title {
  font-size: 84px;
  color:black;
}

.m-b-md {
     position: fixed;
     bottom: 75px;
 }

/* Links at bottom of page */
.links {
  overflow: hidden;
  background-color: #333; /* dark gray */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.links a {
  float: left;
  display: block;
  color: #f2f2f2; /* off white */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.links a:hover {
  background: #f1f1f1; /* off white */
  color: black;
}

.links a.active {
  background-color: #4CAF50; /* green */
  color: white;
}
/* end of Links */

.main {
  padding: 16px;
  margin-bottom: 30px;
}

.info {
	color:Blue;
	font-size: 18px;
	padding: 45px 90px;
}

/* Home Page content */
.topPage {
	position: absolute;
	top: 65px;
	right: 10px;
	float: right;
}
.centerPage {
  margin: auto;
  width: 50%;
  padding: 10px;
  color:Blue;
  font-size: 24px;
}
.belowcenterPage {
  margin: auto;
  width: 50%;
  padding: 10px;
  color:Blue;
  font-size: 24px;
}
/* end of Home Page content */

/*submenu and pagination links */ 
ul li a:hover {
	color: red !important;
}

.dropdown:hover .dropdown-menu { 
    display: block; 
} 

ul li a { 
	color: black !important;
}

/* end of DropDown Menu hover content */

